In [2]:
import pandas as pd

In [12]:
df = pd.read_excel(f"../player_info_scrapping/output/player_info.xlsx")
df = df.drop('Unnamed: 0', axis = 1)
df.head()

,URL,Name,Date_of_Birth,City_of_Birth,Country_of_Birth,Height,Citizenship,Foot,Agent,Outfitter,Main_Position,Other_Position,Youth_Club
0,https://www.transfermarkt.com/iker-casillas/pr...,Iker Casillas,"May 20, 1981",Móstoles,Spain,"1,82",['Spain'],left,380amk,adidas,Goalkeeper,NaN,[None]
1,https://www.transfermarkt.com/diego-lopez/prof...,Diego López,"Nov 3, 1981",Paradela,Spain,"1,96",['Spain'],right,Manuel García Quilón,NaN,Goalkeeper,NaN,[None]
2,https://www.transfermarkt.com/antonio-adan/pro...,Antonio Adán,"May 13, 1987",Madrid,Spain,"1,90",['Spain'],left,Gesport Espizua SL,NaN,Goalkeeper,NaN,['Rel. Clause: 45M €;']
3,https://www.transfermarkt.com/jesus-fernandez/...,Jesús Fernández,"Jun 11, 1988",Madrid,Spain,"1,90",['Spain'],left,RSWORLDWIDE,NaN,Goalkeeper,NaN,[None]
4,https://www.transfermarkt.com/sergio-ramos/pro...,Sergio Ramos,"Mar 30, 1986",Camas,Spain,"1,84",['Spain'],right,RR-Soccer Management Agency,Mizuno,Centre-Back,['Right-Back'],['Sergio Ramos is the brother of René Ramos (A...

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1351 entries, 0 to 1350
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   URL               1351 non-null   object
 1   Name              1351 non-null   object
 2   Date_of_Birth     1351 non-null   object
 3   City_of_Birth     1348 non-null   object
 4   Country_of_Birth  1348 non-null   object
 5   Height            1328 non-null   object
 6   Citizenship       1351 non-null   object
 7   Foot              1324 non-null   object
 8   Agent             1152 non-null   object
 9   Outfitter         608 non-null    object
 10  Main_Position     1348 non-null   object
 11  Other_Position    992 non-null    object
 12  Youth_Club        1351 non-null   object
dtypes: object(13)
memory usage: 137.3+ KB

In [43]:
df[['URL','Name','City_of_Birth','Country_of_Birth','Citizenship','Foot','Agent','Outfitter','Main_Position']] = df[['URL','Name','City_of_Birth','Country_of_Birth','Citizenship','Foot','Agent','Outfitter','Main_Position']].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1351 entries, 0 to 1350
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   URL               1351 non-null   object
 1   Name              1351 non-null   object
 2   Date_of_Birth     1351 non-null   object
 3   City_of_Birth     1351 non-null   object
 4   Country_of_Birth  1351 non-null   object
 5   Height            1328 non-null   object
 6   Citizenship       1351 non-null   object
 7   Foot              1351 non-null   object
 8   Agent             1351 non-null   object
 9   Outfitter         1351 non-null   object
 10  Main_Position     1351 non-null   object
 11  Other_Position    992 non-null    object
 12  Youth_Club        1351 non-null   object
dtypes: object(13)
memory usage: 137.3+ KB